.container {
  position: relative;
}

#container img {
  display: block;
  margin: 0 auto;
}

#api {
  position: absolute;
  top: 80%;
  left: 20%;
}

.ticket {
  position: relative;
}

.texto-superpuesto-placa {
  position: absolute;
  top: 39%;
  left: 40%;
  color: #282828;
  font-size: 20px;
  z-index: 1;
}

#date {
  position: absolute;
  top: 46.5%;
  left: 44%;
  color: #282828;
  font-size: 15px;
  z-index: 1;
}

#print_button {
  position: absolute;
  top: 73%;
  left: 40%;
  background-color: #007bff;
  border-color: #007bff;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition-duration: 0.4s;
}

#print_button:hover {
  background-color: darkblue;
}
